html, body{
	margin	:	0;
	padding	:	0;
	width	:	100%;
	height	:	100%;
}
div.container.hidden{
	display	:	none;
}
.container{
	display	:	flex;
	flex-direction	:	column;
	height	:	100%;

	.chat_container{
		display	:	flex;
		height	:	50%;
		flex-direction	:	column;
		width	:	100%;

		&.game_active{
	       height	:	25%;
	    }

		.userlist span{
			margin : 0 10px;
		}
		.chat_window{
			margin	:	5px 0 0;
			height	:	100%;
			overflow:   auto;
	        position:   relative;

	        .chat_message{

	        }

		}
		.lobby_button_ready{
		    min-height: fit-content;
		}
	}

	.game_window{
		width	:	100%;
		height	:	50%;
		display	:	flex;
		flex-direction	:	column;

		&.game_active{
	       height	:	75%;
	    }
		.header_container{
			flex-grow	:	1;

			.question_header{
				text-align	:	center;

			}
		}
		.question_container{
			/*width	:	100%;
			height	:	100%;*/

			display	:	flex;
			flex-grow	:	50;

			img{
				width	:	100%;
				object-fit	:	contain;
			}


		}
		.answers_container{
			flex-grow	:	1;
			.answers_sub_container{
				display	:	flex;
				justify-content	:	space-evenly;
				flex-wrap	:	wrap;

				margin	:	10px;

				.answer{



					.notifier, .text{
						min-width	:	250px;
						text-align	:	center;
					}
				}
			}
		}
	}
	


}


